.footer{
    height: 56px;
    background-color: black;
    p{
        font-size: 12px;
        color:#b0b0b0;

    }
    &__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
    }
    a{
        display: block;
        span{
            font-size: 12px;
            text-transform: uppercase;
            color:#b0b0b0;
            font-weight: bold;
        }
    }
}