.new{
    padding: 80px 0;
    &__title {
        text-transform: uppercase;
        font-weight: bold;
        color: rgb(0, 0, 0);
    }

    &__subtext {
        max-width: 457px !important;
        color: $text;
        font-size: 16px;
        font-weight: 300;
        text-align: left;
        margin: 27px 0;
    }
    &__wrapper{

        display: flex;
        align-items: center;
        // justify-content: space-between;
        gap:25px;
        width: 100%;
        
    }
    &__item{
        width: calc(33.33% - 12.5px);
        img{
            width: 100%;
        }
        .line--text{
            display: block;
            margin: 25px 0;
            height: 3px;
            background-color: $primary;
        }
        &__title{
            font-size: 18px;
            font-weight: bold;
            text-transform: uppercase;
        }
        &__subtext{
            margin: 47px 0;
            text-align: left;
            font-size: 15px;
        }
    }
    &__nav{
        display: none;
    }
    @include sm{
       &__nav{
        display: flex;
        gap: 25px;
        align-items: center;
        margin: 50px 0;
        button{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 30px;
            background-color: white;
            border: none;
            background-color: #ddd;
            font-size: 16px;
            font-weight: bold;
            padding: 20px 50px;
            transition: all 0.5s ease;
            &:hover{
                background-color: $primary;
                color: white;
            }
        }
       }
    
        &__wrapper{
    
            flex-direction: column;
            
        }
        &__item{
            width: 100%;
            img{
                width: 100%;
            }
        }
    }
}