@font-face {
    font-family: Proxima-Nova-Alt-Extrabold;
    src: url('../../assets/fonts/Proxima-Nova-Alt-Extrabold.otf') format('opentype');;
    
}
@font-face {
    font-family: Proxima-Nova-Bold;
    src: url('../../assets/fonts/Proxima-Nova-Bold.otf') format('opentype');;
  
}

@font-face {
    font-family:Proxima-Nova-Regular;
    src: url('../../assets/fonts/Proxima-Nova-Regular.otf') format('opentype');;
    font-weight: normal;
    font-style: normal;
}


.container{
    max-width: 975px;
    margin: 0 auto;
}




.row{
    width: 100%;
    display: flex;

}
.col--6{
    width: 51.41%;
}
.col--4{
    width: 47.59;
}

.text--title{
    font-size: 40px;
    letter-spacing: 7px;
    color: black;
    @include sm{
        font-size: 25px;
    letter-spacing: 4px;
    }
}
.subtext {
    font-size: 16px;
    color: $text;
    line-height: 22px;
    letter-spacing: 1px;
    max-width: 309px;
    text-align: justify;
}
.line--text{
    width: 80px;
    min-width: 80px;
    height:2px;
    background-color: $text;
}
.text--left{
    text-align: left;
}
.text--right{
    text-align: left;
}

